<div class="am-u-sm-1 sidebar">
	<div>
		<ul class="am-list am-list-border" style="margin:0px;" id="sidebar-main">
			<li class="am-panel">
				<a href="/User/Index/Index"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;我的花园</a>
			</li>
{if queryroot(array('环境监测'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin',target:'#eir-see'}" href="#/"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;环境监测<i class="am-icon-angle-right am-fr"></i></a>
				<ul class="am-list am-collapse sidebar-son" id="eir-see">
	{if queryroot(array('环境信息'=>array('查看'=>1)))}
					<li class="am-panel">
						<a  href="/User/Medio/Index"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;环境信息</a>
					</li>
	{/if}
	{if queryroot(array('实时动态'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/User/Medio/Monitor"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;实时动态</a>
					</li>
	{/if}
	{if queryroot(array('统计信息'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/User/Medio/Statistics"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;统计信息</a>
					</li>
	{/if}
				</ul>
			</li>
{/if}
{if queryroot(array('环境调节'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-users am-margin-left-sm"></i>&nbsp;环境调节</a>
			</li>
{/if}
{if queryroot(array('资讯信息'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin',target:'#ques-info'}" href="#/"><i class="am-icon-table am-margin-left-sm"></i>&nbsp;资讯信息<i class="am-icon-angle-right am-fr"></i></a>
				<ul class="am-list am-collapse sidebar-son" id="ques-info">
	{if queryroot(array('天气资讯'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/User/Info/Weather_info"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;天气资讯</a>
					</li>
	{/if}

					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;生长资讯</a>
					</li>

					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;智能提示</a>
					</li>
				</ul>
			</li>
{/if}

			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin',target:'#tom-park'}" href="#/"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;未来花园<i class="am-icon-angle-right am-fr"></i></a>
				<ul class="am-list am-collapse sidebar-son" id="tom-park">

					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;生长日记</a>
					</li>
					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;花园广场</a>
					</li>

					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;AR园丁</a>
					</li>
				</ul>
			</li>

			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;关于</a>
			</li>
		</ul>
		<div class="am-panel am-panel-default sidebar-panel">
			<div class="am-panel-bd">
				<p><span class="am-icon-fw am-icon-bookmark"></span> 公告</p>
				<p>beta 0.0.1</p>
			</div>
		</div>
		<div class="am-panel am-panel-default sidebar-panel">
			<div class="am-panel-bd">
				<p><span class="am-icon-fw am-icon-tag"></span> BUG反馈</p>
				<p>欢迎向我们反馈您发现的问题。</p>
			</div>
		</div>
	</div>
</div>