{include file="public/head"}
{include file="public/header"}
{include file="public/sidebar"}
<div class="am-u-sm-11" style="background:#fff;">
	<br />
	<div class="am-margin">
		<div class="am-margin"><h1 class="am-text-primary am-text-center">管理中心</h1></div>
		<div classs="am-margin">
			<ol class="am-breadcrumb">
				<li><a class="am-icon-home" href="/">&nbsp;首页</a></li>
				<li class="am-active">管理中心</li>
			</ol>
		</div>
		<hr />
	</div>
	<div class="am-u-sm-8 am-u-sm-centered">
		
	</div>
	<hr />
</div>
{include file="public/footer"}
{include file="public/common"}
{include file="public/foot"}