	</head>
	<body>
	<!--主导航栏开始-->
	<div class="am-g header-style am-topbar-fixed-top">
		<div class="am-u-sm-3">
			<header>
				<a class="logo-icon"></a>
			</header>
		</div>
{php}
use app\user\model\Users;
$user=Users::get_one_user(session('uid'));
{/php}
		<div class="am-u-sm-2">
			<div class="head-div am-dropdown"  data-am-dropdown>
				<img src="/static/image/avatar/avatar-{$user->head}.png" class="am-circle head-icon am-dropdown-toggle" data-am-dropdown-toggle>
				<span class="head-text">{$user->nickname}</span>}&nbsp;<i class=" am-icon-caret-down"></i></span>
				<ul class="am-dropdown-content">
					<li><a href="/Index/Index/Index">首页</a></li>
{if queryroot(array('用户'=>array('查看'=>1)))}
					<li><a href="/User/Index/Index">我的花园</a></li>
{/if}
					<li><a>我的消息<span class="am-badge am-round am-badge-success am-margin-left-xl">7</span></a></li>
					<li><a href="/Index/Index/Out_login">注销</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!--主导航栏结束-->