<div class="am-u-sm-1 sidebar">
	<div>
		<ul class="am-list am-list-border" style="margin:0px;" id="sidebar-main">
			<li class="am-panel">
				<a href="/Admin/Index/Index"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;管理中心</a>
			</li>
{if queryroot(array('用户管理'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin',target:'#eir-see'}" href="#/"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;用户管理<i class="am-icon-angle-right am-fr"></i></a>
				<ul class="am-list am-collapse sidebar-son" id="eir-see">
	{if queryroot(array('所有用户'=>array('查看'=>1)))}
					<li class="am-panel">
						<a  href="/Admin/User/All_user"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;所有用户</a>
					</li>
	{/if}
	{if queryroot(array('黑名单'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/User/Medio/Monitor"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;黑名单</a>
					</li>
	{/if}
	{if queryroot(array('用户概览'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/User/Medio/Statistics"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;用户概览</a>
					</li>
	{/if}
				</ul>
			</li>
{/if}
{if queryroot(array('环境调节'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-users am-margin-left-sm"></i>&nbsp;</a>
			</li>
{/if}
{if queryroot(array('权限管理'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin',target:'#ques-info'}" href="#/"><i class="am-icon-table am-margin-left-sm"></i>&nbsp;权限管理<i class="am-icon-angle-right am-fr"></i></a>
				<ul class="am-list am-collapse sidebar-son" id="ques-info">
	{if queryroot(array('权限列表'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/Admin/Root/Root_list"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;权限列表</a>
					</li>
	{/if}
	{if queryroot(array('模块管理'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/Admin/Root/Block_list"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;模块管理</a>
					</li>
	{/if}
	{if queryroot(array('角色管理'=>array('查看'=>1)))}
					<li class="am-panel">
						<a href="/Admin/Root/Role_list"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;角色管理</a>
					</li>
	{/if}
				</ul>
			</li>
{/if}
{if queryroot(array('未来花园'=>array('查看'=>1)))}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin',target:'#tom-park'}" href="#/"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;未来花园<i class="am-icon-angle-right am-fr"></i></a>
				<ul class="am-list am-collapse sidebar-son" id="tom-park">
	{if queryroot(array('生长日记'=>array('查看'=>1)))}
					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;生长日记</a>
					</li>
	{/if}
	{if queryroot(array('花园广场'=>array('查看'=>1)))}
					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-pencil am-margin-left-sm"></i>&nbsp;花园广场</a>
					</li>
	{/if}
	{if queryroot(array('AR园丁'=>array('查看'=>1)))}
					<li class="am-panel">
						<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-magic am-margin-left-sm"></i>&nbsp;AR园丁</a>
					</li>
	{/if}
				</ul>
			</li>
{/if}
			<li class="am-panel">
				<a data-am-collapse="{parent:'#sidebar-admin'}" href="#/"><i class="am-icon-home am-margin-left-sm"></i>&nbsp;关于</a>
			</li>
		</ul>
		<div class="am-panel am-panel-default sidebar-panel">
			<div class="am-panel-bd">
				<p><span class="am-icon-fw am-icon-bookmark"></span> 公告</p>
				<p>beta 0.0.1</p>
			</div>
		</div>
		<div class="am-panel am-panel-default sidebar-panel">
			<div class="am-panel-bd">
				<p><span class="am-icon-fw am-icon-tag"></span> BUG反馈</p>
				<p>欢迎向我们反馈您发现的问题。</p>
			</div>
		</div>
	</div>
</div>