{include file="public/head"}
<style>
	html{
		height:100%;
	}
	body{
		height:100%;
		background:url(/static/image/login-background.jpg) no-repeat center fixed;
	}
	.modal-center {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin:auto;
		width:600px;
		height:600px;
		border-radius:20px;
		background: #f8f8f8;
	}
</style>
{include file="public/header"}
<div class="login-bg" style="height:100%;">
	<div class="am-u-sm-5 am-u-sm-centered">
		<div class="modal-center">
			<div class="am-padding-top">
				<h3 class="am-text-center">用户注册</h3>
			</div>
			<div class="am-u-sm-8 am-u-sm-centered" >
				<form class="am-form">
					<div class="am-form-group">
						<label>帐号</label>
						<input type="text" class="am-form-field" placeholder="3-16个字符，必需以英文字母开头" />
					</div>
					<div class="am-form-group">
						<label>密码</label>
						<input type="tpassword" class="am-form-field" placeholder="6-18个字符，建议字母+数字的组合" />
					</div>
					<div class="am-form-group">
						<label>重复密码</label>
						<input type="password" class="am-form-field" placeholder="请您再输入一次密码" />
					</div>
					<div class="am-form-group">
						<label>手机</label>
						<input type="phone" class="am-form-field" placeholder="您的手机号" />
					</div>
					<div class="am-input-group am-margin-bottom">
						<input type="text" class="am-form-field" placeholder="您收到的短信验证码" />
						<span class="am-input-group-label countdown" style="cursor:pointer;">发送</span>
					</div>
					<div class="am-form-group">
						<label>邮箱</label>
						<input type="email" class="am-form-field" placeholder="您的邮箱号" />
					</div>
				</form>
				<a class="am-btn am-btn-success am-btn-block am-round login-btn" data-am-loading="{spinner:'circle-o-notch',loadingText:'注册中...',resetText:'注册成功'}">注册</a>
			</div>
		</div>
	</div>
</div>
{include file="public/footer"}
{include file="public/common"}
<script>
	$(function(){
		$('.login-btn').on('click',function (){
			var btn=$(this);
			btn.button('loading');
			setTimeout(function (){
				btn.button('reset');
			},3000);
		});
		function countdown(time,selector){
			if(!((typeof time==='number')&&(time%1===0))){
				time=Number(time);
			}
			if(time<0){
				time=Math.abs(time);
			}
			var count=setInterval(function(){
				$(selector).text((time--)+' s');
				if(time==-1){
					$(selector).text('发送');
					clearInterval(count);
				}
			},1000);
		}
		$('.countdown').on('click',function(){
			countdown(60,'.countdown');
		});
	});
</script>
{include file="public/foot"}