{include file='public/head'}
<style>
	.table-font{
		font-size:18px;
	}
</style>
{include file='public/header'}
<div>
	<div class="main-bg">
		<div class="main-title">
			<p>更新内容</p>
		</div>
		<div class="main-sub">
			<p>最近更新于  2017/09/10 11:30  调整样式布局</p>
		</div>
	</div>
	<div>
		<div>
			<div><h2 class="am-text-center">2017.05.15</h2></div>
			<hr />
			<div class="am-u-sm-8 am-u-sm-centered">
				<div class="table-font">
					<table class="am-table am-table-striped am-table-hover" lay-skin="line">
						<h4>主要更新 :</h4>
						<thead>
							<tr>
								<td>序号</td>
								<td>完成者</td>
								<td>完成任务概述</td>
								<td>成果说明</td>
								<td>备注</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>张昊民</td>
								<td>完成硬件架构图0.0.2版</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>1</td>
								<td>张昊民</td>
								<td>购买多功能螺丝刀 -- 价值8.8元</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>2</td>
								<td>张昊民</td>
								<td>购买面包版+面包线 -- 价值13.8元</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>3</td>
								<td>张昊民</td>
								<td>购买收纳箱 -- 价值7.8元</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>4</td>
								<td>张昊民</td>
								<td>完成门户网站进度页记录</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>1</td>
								<td>张昊民</td>
								<td>完成门户网站首页设计实现</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>2</td>
								<td>张昊民</td>
								<td>完成硬件架构图0.0.1版</td>
								<td><a href="http://naotu.baidu.com/file/c62be61e46d43c8ca8a5fc9351fb2d69?token=d619706088b603ae">硬件架构图</a></td>
								<td>无</td>
							</tr>
							<tr>
								<td>1</td>
								<td>张昊民</td>
								<td>购买树莓派3b -- 价值280元</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>2</td>
								<td>张昊民</td>
								<td>购买树莓派3b显示屏 -- 价值40元</td>
								<td></td>
								<td>无</td>
							</tr>
							<tr>
								<td>3</td>
								<td>张昊民</td>
								<td>搭建发布门户网站框架</td>
								<td></td>
								<td>无</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div>
					<h4>其他更新 :</h4>
					<div class="am-panel-group" id="accordion">
						<div class="am-panel am-panel-default">
							<div class="am-panel-hd">
								<h5 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#panel-1'}">修复Bug</h5>
							</div>
							<div class="am-panel-collapse am-collapse" id="panel-1">
								<div class="am-panel-bd">
									st is no bug.
								</div>
							</div>
						</div>
					</div>
					<div class="am-panel-group" id="accordion">
						<div class="am-panel am-panel-default">
							<div class="am-panel-hd">
								<h5 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#panel-2'}">其他调整</h5>
							</div>
							<div class="am-panel-collapse am-collapse" id="panel-2">
								<div class="am-panel-bd">
									st is no bug.
								</div>
							</div>
						</div>
					</div>
					<div class="am-panel-group" id="accordion">
						<div class="am-panel am-panel-default">
							<div class="am-panel-hd">
								<h5 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#panel-3'}">优化提升</h5>
							</div>
							<div class="am-panel-collapse am-collapse" id="panel-3">
								<div class="am-panel-bd">
									st is no bug.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
		</div>
	</div>
</div>
{include file='public/footer'}
{include file='public/common'}
{include file='public/foot'}