{include file='public/head'}
{include file='public/header'}
<div style="margin-top:50px;">
	<fieldset class="layui-elem-field layui-field-title">
		<legend style="font-size:30px;text-align:center;">2017.05.15</legend>
		<div class="layui-field-box" style="margin:20px;">
			<table class="layui-table" lay-skin="line">
				<thead>
					<tr>
						<td>序号</td>
						<td>执行者</td>
						<td>完成事件</td>
						<td>成果展示</td>
						<td>备注</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>张昊民</td>
						<td>完成硬件架构图0.0.2版</td>
						<td></td>
						<td>无</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
	<fieldset class="layui-elem-field layui-field-title">
		<legend style="font-size:30px;text-align:center;">2017.05.14</legend>
		<div class="layui-field-box" style="margin:20px;">
			<table class="layui-table" lay-skin="line">
				<thead>
					<tr>
						<td>序号</td>
						<td>执行者</td>
						<td>完成事件</td>
						<td>成果展示</td>
						<td>备注</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>张昊民</td>
						<td>购买多功能螺丝刀 -- 价值8.8元</td>
						<td></td>
						<td>无</td>
					</tr>
					<tr>
						<td>2</td>
						<td>张昊民</td>
						<td>购买面包版+面包线 -- 价值13.8元</td>
						<td></td>
						<td>无</td>
					</tr>
					<tr>
						<td>3</td>
						<td>张昊民</td>
						<td>购买收纳箱 -- 价值7.8元</td>
						<td></td>
						<td>无</td>
					</tr>
					<tr>
						<td>4</td>
						<td>张昊民</td>
						<td>完成门户网站进度页记录</td>
						<td></td>
						<td>无</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
	<fieldset class="layui-elem-field layui-field-title">
		<legend style="font-size:30px;text-align:center;">2017.05.13</legend>
		<div class="layui-field-box" style="margin:20px;">
			<table class="layui-table" lay-skin="line">
				<thead>
					<tr>
						<td>序号</td>
						<td>执行者</td>
						<td>完成事件</td>
						<td>成果展示</td>
						<td>备注</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>张昊民</td>
						<td>完成门户网站首页设计实现</td>
						<td></td>
						<td>无</td>
					</tr>
					<tr>
						<td>2</td>
						<td>张昊民</td>
						<td>完成硬件架构图0.0.1版</td>
						<td><a href="http://naotu.baidu.com/file/c62be61e46d43c8ca8a5fc9351fb2d69?token=d619706088b603ae">硬件架构图</a></td>
						<td>无</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
	<fieldset class="layui-elem-field layui-field-title">
		<legend style="font-size:30px;text-align:center;">2017.05.12</legend>
		<div class="layui-field-box" style="margin:20px;">
			<table class="layui-table" lay-skin="line">
				<thead>
					<tr>
						<td>序号</td>
						<td>执行者</td>
						<td>完成事件</td>
						<td>成果展示</td>
						<td>备注</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>张昊民</td>
						<td>购买树莓派3b -- 价值280元</td>
						<td></td>
						<td>无</td>
					</tr>
					<tr>
						<td>2</td>
						<td>张昊民</td>
						<td>购买树莓派3b显示屏 -- 价值40元</td>
						<td></td>
						<td>无</td>
					</tr>
					<tr>
						<td>3</td>
						<td>张昊民</td>
						<td>搭建发布门户网站框架</td>
						<td></td>
						<td>无</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
</div>
{include file='public/footer'}
{include file='public/common'}
{include file='public/foot'}