{include file='public/head'}
<style>
	.cssanimations [data-am-scrollspy*=animation] {
		opacity: 0;
		width:100%;
	}
</style>
{include file='public/header'}
<div  class="am-g">
	<div class="main-bg">
		<div class="main-title">
			<p>了解我们</p>
		</div>
		<div class="main-sub">
			<p>官方邮箱： ai80233407@163.com</p>
		</div>
	</div>
	<div class="am-padding am-margin am-g" data-am-scrollspy="{animation:'fade',delay:200}">
		<div class="am-u-sm-8 am-u-sm-centered">
			<h4>智能花园</h4>
			<hr />
			<div class="am-u-sm-4">
				<img class="am-radius am-img-thumbnail" src="/static/image/about-park.jpg" width="380" height="270" />
			</div>
			<div class="am-u-sm-8">
				
			</div>
		</div>
	</div>
	<div class="am-padding am-margin am-g" data-am-scrollspy="{animation:'fade',delay:500}">
		<div class="am-u-sm-8 am-u-sm-centered">
			<h4>项目起源</h4>
			<hr />
			<div class="am-u-sm-8">
				
			</div>
			<div class="am-u-sm-4">
				<img class="am-radius am-img-thumbnail" src="/static/image/about-soft1.jpg" width="380" height="280" />
			</div>
		</div>
	</div>
	<div class="am-u-sm-8 am-u-sm-centered">
		<div class="am-panel am-panel-warning" data-am-scrollspy="{animation:'slide-left',delay:200}">
			<div class="am-panel-hd">
				声明
			</div>
			<div class="am-panel-bd">
				....
			</div>
		</div>
		<div class="am-panel am-panel-primary" data-am-scrollspy="{animation:'slide-right',delay:500}">
			<div class="am-panel-hd">
				项目成员
			</div>
			<div class="am-panel-bd">
				....
			</div>
		</div>
		<div class="am-panel am-panel-secondary" data-am-scrollspy="{animation:'slide-left',delay:800}">
			<div class="am-panel-hd">
				联系我们
			</div>
			<div class="am-panel-bd">
				....
			</div>
		</div>
		<div class="am-panel am-panel-danger" data-am-scrollspy="{animation:'slide-right',delay:1000}">
			<div class="am-panel-hd">
				鸣谢
			</div>
			<div class="am-panel-bd">
				....
			</div>
		</div>
	</div>
</div>
{include file='public/footer'}
{include file='public/common'}
{include file='public/foot'}