{include file='public/head'}
<style>
	.about-style{
		font-size:18px;
		margin-left:3%!important;
	}
</style>
{include file='public/header'}
	<div>
		<h1 style="text-align:center;font-size:30px;margin-top:50px;margin-bottom:50px;">关于我们</h1>
	</div>
	<div style="margin:100px;">
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="about-style">简介</legend>
			<div class="layui-field-box">
				jfslkdajfldsajfllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			</div>
		</fieldset>
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="about-style">成员</legend>
		</fieldset>
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="about-style">荣誉</legend>
		</fieldset>
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="about-style">联系方式</legend>
		</fieldset>
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="about-style">致谢</legend>
		</fieldset>
	</div>
{include file='public/footer'}
{include file='public/common'}
{include file='public/foot'}