{include file="public/head"}
<style>
.am-scrollable-vertical{
	height:310px;
}
</style>
{include file="public/header"}
{include file="public/sidebar"}
<div class="am-u-sm-11" style="background:#fff;">
	<br />
	<div class="am-margin">
		<div class="am-margin"><h1 class="am-text-primary am-text-center">修改角色</h1></div>
		<div classs="am-margin">
			<ol class="am-breadcrumb">
				<li><a class="am-icon-home" href="/">&nbsp;首页</a></li>
				<li class="am-active">权限管理</li>
				<li class="am-active"><a class="" href="/Admin/Root/Role_list">角色管理</a></li>
				<li class="am-active">修改角色</li>
			</ol>
		</div>
		<hr />
		<div class="am-g">
			<div class="am-u-sm-8 am-u-sm-centered">
				<h4>基本信息</h4>
				<hr />
				<table class="am-table am-table-striped">
					<form class="am-form">
						<tbody>
							<input type="hidden" name="id" value="{$role->id}" />
							<tr>
								<td>角色名</td>
								<td><input name="name" value="{$role.name}" class="am-form-field" /></td>
							</tr>
							<tr>
								<td>备注</td>
								<td><input name="mark" value="{$role->mark}" class="am-form-field" /></td>
							</tr>
							<tr>
								<td>创建时间</td>
								<td><input name="mark" value="{$role->ctime}" class="am-form-field" disabled/></td>
							</tr>
						</tbody>
					</form>
				</table>
			</div>
			<br />
{php}
	use app\admin\model\Roots;
	$first=Roots::get_block_bylevel(1);
	$second=Roots::get_block_bylevel(2);
	$third=Roots::get_block_bylevel(3);
	$rootlist=Roots::get_all_root();
	$roleroot=Roots::get_one_role(input('get.id'));
	if(!empty($roleroot['rootlist'])){
		foreach(json_decode($roleroot['rootlist'],true) as $key=>$value){
			$level=Roots::get_block_level($key);
			if($level==1){
				$block1[$key]=$value;
			}
			if($level==2){
				$block2[$key]=$value;
			}
			if($level==3){
				$block3[$key]=$value;
			}
		}
	}
	foreach($first as $key=>$value){
		if(!empty($block1[$value['name']])){
			unset($first[$key]);
		}
	}
	foreach($second as $key=>$value){
		if(!empty($block2[$value['name']])){
			unset($second[$key]);
		}
	}
	foreach($third as $key=>$value){
		if(!empty($block3[$value['name']])){
			unset($third[$key]);
		}
	}
{/php}
			<div class="am-u-sm-8 am-u-sm-centered">
				<h4>权限信息</h4>
				<hr />
				<div class="am-u-sm-12">
					<div class="am-u-sm-6">
						<h5>一级模块列表</h5>
						<div class="am-panel am-panel-default am-padding" style="height:350px;">
{if !empty($first)}
							<ul class="accept-list{if count($first)>4} am-scrollable-vertical{/if} one-root-area" style="margin:0px;padding: 0px;">

{foreach $first as $row}
								<li style="padding: 10px;margin-bottom:5px;overflow: hidden;border: 1px solid #d8e1eb;list-style: none;">
									<div class="am-icon-chevron-circle-right am-fr one-add-root"></div>
									<div style="float: left;width: 330px;cursor: pointer;">
										<div style="color: #5c5c5c;font-size: 14px;margin-bottom: 0;font-weight: 400;">
											<span style="vertical-align: middle;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 200px;">
											{$row['name']}
											</span>
										</div>
										<div class="am-form-group"style="margin:10px 0 0 0">
											{foreach $rootlist as $key=>$col}
											<label class="am-checkbox-inline">
												<input name="root[{$row['name']}][{$col.name}]" type="checkbox" value="1"  data-am-ucheck {if !$key}checked{/if}/>{$col.name}
											</label>
											{/foreach}
										</div>
									</div>
								</li>
{/foreach}
							</ul>
{else}
							<ul class="accept-list one-root-area" style="margin:0px;padding: 0px;">
							</ul>
{/if}
						</div>
					</div>
					<div class="am-u-sm-6">
						<h5>已赋权限</h5>
						<form >
						<div class="am-panel am-panel-default am-padding" style="height:350px;">
{if !empty($block1)}
							<ul class="accept-list {if count($block1)>4} am-scrollable-vertical{/if} one-block-area" style="margin:0px;padding: 0px;">
{foreach $block1 as $key=>$value}
								<li style="padding: 10px;margin-bottom:5px;overflow: hidden;border: 1px solid #d8e1eb;list-style: none;">
									<div class="am-icon-times-circle am-fr one-remove-root"></div>
									<div style="float: left;width: 330px;cursor: pointer;">
										<div style="color: #5c5c5c;font-size: 14px;margin-bottom: 0;font-weight: 400;">
											<span style="vertical-align: middle;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 200px;">{$key}</span>
										</div>
										<div class="am-form-group"style="margin:10px 0 0 0">
											{foreach $rootlist as $col}
											<label class="am-checkbox-inline">
												<input name="root[{$key}][{$col.name}]" type="checkbox" value="1"  data-am-ucheck {if !empty($value[$col.name])}checked{/if}/>{$col.name}
											</label>
											{/foreach}
										</div>
									</div>
								</li>
{/foreach}
							</ul>
{else}
							<ul class="accept-list one-block-area" style="margin:0px;padding: 0px;">
							</ul>
{/if}
						</div>
						</form>
					</div>
				</div>
				<div class="am-u-sm-12">
					<div class="am-u-sm-6">
						<h5>二级模块列表</h5>
						<div class="am-panel am-panel-default am-padding" style="height:350px;">
							{if !empty($second)}
							<ul class="accept-list{if count($second)>4} am-scrollable-vertical{/if} two-root-area" style="margin:0px;padding: 0px;">
								{foreach $second as $row}
								<li style="padding: 10px;margin-bottom:5px;overflow: hidden;border: 1px solid #d8e1eb;list-style: none;">
									<div class="am-icon-chevron-circle-right am-fr two-add-root"></div>
									<div style="float: left;width: 330px;cursor: pointer;">
										<div style="color: #5c5c5c;font-size: 14px;margin-bottom: 0;font-weight: 400;">
											<span style="vertical-align: middle;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 200px;">{$row['name']}</span>
										</div>
										<div class="am-form-group"style="margin:10px 0 0 0">
											{foreach $rootlist as $key=>$col}
											<label class="am-checkbox-inline">
												<input name="root[{$row['name']}][{$col.name}]" type="checkbox" value="1"  data-am-ucheck {if !$key}checked{/if}/>{$col.name}
											</label>
											{/foreach}
										</div>
									</div>
								</li>
								{/foreach}
							
							</ul>
							{else}
							<ul class="accept-list two-root-area" style="margin:0px;padding: 0px;">
							</ul>
							{/if}
						</div>
					</div>
					<div class="am-u-sm-6">
						<h5>已赋权限</h5>
						<form>
						<div class="am-panel am-panel-default am-padding" style="height:350px;">
{if !empty($block2)}
							<ul class="accept-list{if count($block2)>4} am-scrollable-vertical{/if} two-block-area" style="margin:0px;padding: 0px;">
{foreach $block2 as $key=>$value}
								<li style="padding: 10px;margin-bottom:5px;overflow: hidden;border: 1px solid #d8e1eb;list-style: none;">
									<div class="am-icon-times-circle am-fr two-remove-root"></div>
									<div style="float: left;width: 330px;cursor: pointer;">
										<div style="color: #5c5c5c;font-size: 14px;margin-bottom: 0;font-weight: 400;">
											<span style="vertical-align: middle;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 200px;">{$key}</span>
										</div>
										<div class="am-form-group"style="margin:10px 0 0 0">
											{foreach $rootlist as $col}
											<label class="am-checkbox-inline">
												<input name="root[{$key}][{$col.name}]" type="checkbox" value="1"  data-am-ucheck {if !empty($value[$col.name])}checked{/if}/>{$col.name}
											</label>
											{/foreach}
										</div>
									</div>
								</li>
{/foreach}
							</ul>
{else}
							<ul class="accept-list two-block-area" style="margin:0px;padding: 0px;">
							</ul>
{/if}
						</div>
						</form>
					</div>
				</div>
				<div class="am-u-sm-12">
					<div class="am-u-sm-6">
						<h5>三级模块列表</h5>
						<div class="am-panel am-panel-default am-padding" style="height:350px;">		
{if !empty($third)}
						<ul class="accept-list{if count($third)>4} am-scrollable-vertical{/if} three-root-area" style="margin:0px;padding: 0px;">
			{foreach $third as $row}
								<li style="padding: 10px;margin-bottom:5px;overflow: hidden;border: 1px solid #d8e1eb;list-style: none;">
									<div class="am-icon-chevron-circle-right am-fr three-add-root"></div>
									<div style="float: left;width: 330px;cursor: pointer;">
										<div style="color: #5c5c5c;font-size: 14px;margin-bottom: 0;font-weight: 400;">
											<span style="vertical-align: middle;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 200px;">{$row['name']}</span>
										</div>
										<div class="am-form-group"style="margin:10px 0 0 0">
											{foreach $rootlist as $key=>$col}
											<label class="am-checkbox-inline">
												<input name="root[{$row['name']}][{$col.name}]" type="checkbox" value="1"  data-am-ucheck {if !$key}checked{/if}/>{$col.name}
											</label>
											{/foreach}
										</div>
									</div>
								</li>
			{/foreach}
		
							</ul>
			{else}
							<ul class="accept-list three-root-area" style="margin:0px;padding: 0px;">
							</ul>
			{/if}
						</div>
					</div>
					<div class="am-u-sm-6">
						<h5>已赋权限</h5>
						<form >
						<div class="am-panel am-panel-default am-padding" style="height:350px;">
{if !empty($block3)}
							<ul class="accept-list{if count($block3)>4} am-scrollable-vertical{/if} three-block-area" style="margin:0px;padding: 0px;">
{foreach $block3 as $key=>$value}
								<li style="padding: 10px;margin-bottom:5px;overflow: hidden;border: 1px solid #d8e1eb;list-style: none;">
									<div class="am-icon-times-circle am-fr three-remove-root"></div>
									<div style="float: left;width: 330px;cursor: pointer;">
										<div style="color: #5c5c5c;font-size: 14px;margin-bottom: 0;font-weight: 400;">
											<span style="vertical-align: middle;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 200px;">{$key}</span>
										</div>
										<div class="am-form-group"style="margin:10px 0 0 0">
											{foreach $rootlist as $col}
											<label class="am-checkbox-inline">
												<input name="root[{$key}][{$col.name}]" type="checkbox" value="1"  data-am-ucheck {if !empty($value[$col.name])}checked{/if}/>{$col.name}
											</label>
											{/foreach}
										</div>
									</div>
								</li>
{/foreach}
							</ul>
{else}
							<ul class="accept-list three-block-area" style="margin:0px;padding: 0px;">
							</ul>
{/if}
						</div>
						</form>
					</div>
					<div class="am-u-sm-12">
						<a href="/Admin/Root/Role_list" class="am-btn am-btn-warning am-btn-xs am-fr">返回</a>
						<a class="am-btn am-btn-primary am-btn-xs am-fr am-margin-right save">保存</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/footer"}
{include file="public/common"}
<script type="text/javascript">
	$('.save').on('click',function(){
		$.ajax({
			type:'post',
			url:'/Admin/Root/Role_update',
			dataType:'json',
			data:$('form').serialize(),
			asysc:true,
			success:function(data){
				if(data.roleupdatestatus){
					alertsuccess(data.out);
				}else{
					alertwarn(data.out);
				}
			},
			error:function(){
				alertfailed('操作失败');
			}
		});
	});
	
	$('.one-root-area').on('click','.one-add-root',function(){
		addselector('one',this);
	});
	$('.one-block-area').on('click','.one-remove-root',function(){
		moveselector('one',this);
	});
	$('.two-root-area').on('click','.two-add-root',function(){
		addselector('two',this);
	});
	$('.two-block-area').on('click','.two-remove-root',function(){
		moveselector('two',this);
	});
	$('.three-root-area').on('click','.three-add-root',function(){
		addselector('three',this);
	});
	$('.three-block-area').on('click','.three-remove-root',function(){
		moveselector('three',this);
	});
	function addselector(sign,that){
		$(that).removeClass('am-icon-chevron-circle-right '+sign+'-add-root').addClass('am-icon-times-circle '+sign+'-remove-root');
		if($('.'+sign+'-block-area').children().length==4){
			$('.'+sign+'-block-area').addClass('am-scrollable-vertical');
		}
		if($('.'+sign+'-root-area').children().length==5){
			$('.'+sign+'-root-area').removeClass('am-scrollable-vertical');
		}
		$('.'+sign+'-block-area').append($(that).parent().prop("outerHTML"));
		$(that).parent().remove();
	}
	function moveselector(sign,that){
		$(that).removeClass('am-icon-times-circle '+sign+'-remove-root').addClass('am-icon-chevron-circle-right '+sign+'-add-root');
		if($('.'+sign+'-root-area').children().length==4){
			$('.'+sign+'-root-area').addClass('am-scrollable-vertical');
		}
		if($('.'+sign+'-block-area').children().length==5){
			$('.'+sign+'-block-area').removeClass('am-scrollable-vertical');
		}
		$('.'+sign+'-root-area').append($(that).parent().prop("outerHTML"));
		$(that).parent().remove();
	}
</script>
{include file="public/foot"}