{include file="public/head"}
{include file="public/header"}
{include file="public/sidebar"}
<div class="am-u-sm-11" style="background:#fff;">
	<br />
	<div class="am-margin">
		<div class="am-margin"><h1 class="am-text-primary am-text-center">角色管理</h1></div>
		<div classs="am-margin">
			<ol class="am-breadcrumb">
				<li><a class="am-icon-home" href="/">&nbsp;首页</a></li>
				<li class="am-active">权限管理</li>
				<li class="am-active">角色管理</li>
			</ol>
		</div>
		<hr />
	</div>
	<div class="am-g am-margin-bottom">
		<div class="am-u-sm-12 am-u-md-3 am-fr">
			<div class="am-input-group am-input-group-sm">
				<input value="{$key}" type="text" class="am-form-field limitset" placeholder="搜索">
				<span class="am-input-group-btn">
					<button onclick="javascript:search();" class="am-btn am-btn-primary search" type="button"><span class="am-icon-search"></span></button>
					{if queryroot(array('角色管理'=>array('查看'=>1,"新增"=>1)))}
					<button onclick="javascript:addrole();" class="am-btn am-btn-success" type="button"><span class="am-icon-plus"></span></button>
					{/if}
				</span>
			</div>
		</div>
	</div>
	<div class="am-g">
		<div class="am-u-sm-12 am-margin-bottom">
			<table class="am-table am-table-bd am-table-striped am-table-hover admin-content-table">
				<thead>
					<tr>
						<th>id</th>
						<th>角色名</th>
						<th>权限概览</th>
						<th class="am-hide-sm-only classrom">备注</th>
						<th class="am-hide-sm-only">创建时间</th>
						<th>管理</th>
					</tr>
				</thead>
				<tbody class="user_table">
				
					{volist name="rolelist" id="row"}
					<tr>
						<td>{$row.id}</td>
						<td>{$row.name}</td>
						{php}
							$list='';$i=0;
							if(!empty($row['rootlist'])){
								foreach(json_decode($row['rootlist']) as $key=>$value){
									$list.=' [ '.$key.' ]';$i++;
									if($i==5){
										$list.='......';
										break;
									}
								}
							}
							
						{/php}
						<td>{$list}</td>
						<td>{$row.mark}</td>
						<td>{$row.ctime}</td>
						<td>
							<div class="am-dropdown" data-am-dropdown>
								<a class="am-btn am-btn-primary am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle>
									<span class="am-icon-cog"></span>
									<span class="am-icon-caret-down"></span>
								</a>
								<ul class="am-dropdown-content">
								{if queryroot(array('角色管理'=>array('查看'=>1)))}
									<li><a href="/Admin/Root/Role_look?id={$row.id}">角色信息</a></li>
								{/if}
								{if queryroot(array('角色管理'=>array('查看'=>1,"修改"=>1)))}
									<li><a href="/Admin/Root/Role_update?id={$row.id}">修改角色</a></li>
								{/if}
								{if queryroot(array('角色管理'=>array('查看'=>1,"删除"=>1)))}
									<li><a href="javascript:delrole({$row.id});">删除角色</a></li>
								{/if}
								</ul>
							</div>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
	</div>
	{$rolelist->render()}
</div>
<div class="am-modal am-modal-prompt addmodal" tabindex="-1">
	<div class="am-modal-dialog">
		<div class="am-modal-hd">
			添加角色
			<a href="javascript:void(0);" class="am-close am-close-spin" data-am-modal-close>&times;</a>
		</div>
		<hr />
		<div class="am-modal-bd">
			<input type="text" class="am-modal-prompt-input" placeholder="角色名" />
			<textarea rows="12" class="am-modal-prompt-input" placeholder="角色说明及备注"></textarea>
		</div>
		<div class="am-modal-footer">
			<span class="am-modal-btn" data-am-modal-cancel>取消</span>
			<span class="am-modal-btn" data-am-modal-confirm>保存</span>
		</div>
	</div>
</div>
{include file="public/footer"}
{include file="public/common"}
<script type="text/javascript">
	function search(){
		location.href="/Admin/Root/Role_list?key="+$('.limitset').val();
	}
	function addrole(){
		$('.addmodal').modal({
			relatedTarget:this,
			onConfirm:function(e){
				$.ajax({
					type:'post',
					url:'/Admin/Root/Role_add',
					dataType:'json',
					data:{name:e.data[0],mark:e.data[1]},
					async:true,
					success:function(data){
						if(data.roleaddstatus){
							alertsuccess(data.out);
							setTimeout(location.reload(),1200);
						}else{
							alertwarn(data.out);
						}
					},
					error:function(){
						alertfailed('操作失败');
					},
				});
			},
			onCancel:function(){
				alertcancel('操作取消');
			}
		});
	}
	function delrole(id){
		delmodal(function(sign){
			if(sign){
				$.ajax({
					type: 'post',
					url: '/Admin/Root/Role_del',
					dataType: 'json',
					data: {'id':id},
					asysc: true,
					success: function(data){
						if(data.roledelstatus){
							alertsuccess(data.out);
							setTimeout(location.reload(),1200);
						}else{
							alertwarn(data.out);
						}
					},
					error:function(e){
						alertfailed('操作失败');
					}
				});
			}else{
				alertcancel('操作取消');
			}
		});
	}
	
	$(function(){
		$('.limitset').on('keydown',function(e){
			//alert(e.keyCode);
			if(e.keyCode=='undefined'){
				e.keyCode=e.which;
			}
			if(e.keyCode==13){
				search();
			}
		});
		
	});
</script>
{include file="public/foot"}