	</head>
	<body>
	<!--主导航栏开始-->
	<div class="am-g header-style am-topbar-fixed-top">
		<div class="am-u-sm-5 am-u-lg-3">
			<header>
				<a class="logo-icon"></a>
			</header>
		</div>
		<div class="am-u-lg-7 main-nav am-hide-sm-only">
			<ul class="am-nav am-nav-pills am-hide-sm-only am-nav-justify">
				<li ><a href="/Index/">主页</a></li>
				<li class="am-dropdown" data-am-dropdown>
					<a href="javascript:void(0);" class="am-dropdown-toggle" data-am-dropdown-toddle>产品</a>
					<ul class="am-dropdown-content">
						<li class="am-dropdown-header am-text-xs">智能花园</li>
						<li><a>数据收集系统</a></li>
						<li><a>数据储存系统</a></li>
						<li><a>智能花园系统</a></li>
						<li><a>硬件系统</a></li>
					</ul>
				</li>
				<li class="am-dropdown" data-am-dropdown>
					<a href="javascript:void(0);" class="am-dropdown-toggle" data-am-dropdown-toddle>文档</a>
					<ul class="am-dropdown-content">
						<li class="am-dropdown-header am-text-xs">数据储存系统</li>
						<li><a>架构</a></li>
						<li><a>设计文档</a></li>
						<li><a>案例</a></li>
						<li class="am-dropdown-header am-text-xs">智能花园系统</li>
						<li><a>架构</a></li>
						<li><a>设计文档</a></li>
						<li><a>案例</a></li>
					</ul>
				</li>
				<li><a href="">社区</a></li>
				<li ><a href="/Index/About">关于我们</a></li>
				<li ><a href="/Index/Process/">更新进度</a></li>
			</ul>
		</div>
{php}
use app\user\model\Users;
$status=Users::is_login();
$user=Users::get_one_user(session('uid'));
{/php}
{if $status}
		<div class="am-u-lg-2 am-hide-sm-only">
			<div class="head-div am-dropdown"  data-am-dropdown>
				<img src="/static/image/avatar/avatar-{$user->head}.png" class="am-circle head-icon am-dropdown-toggle" data-am-dropdown-toggle>
				<span class="head-text">{$user->nickname}</span>}&nbsp;<i class=" am-icon-caret-down"></i></span>
				<ul class="am-dropdown-content">
{if queryroot(array('管理'=>array('查看'=>1)))}
					<li><a href="/Admin/Index/Index">管理中心</a></li>
{/if}
{if queryroot(array('用户'=>array('查看'=>1)))}
					<li><a href="/User/Index/Index">我的花园</a></li>
{/if}
					<li><a>我的消息<span class="am-badge am-round am-badge-success am-margin-left-xl">7</span></a></li>
					<li><a href="/Index/Index/Out_login">注销</a></li>
				</ul>
			</div>
		</div>
{else}
		<div class="am-u-lg-2 am-u-sm-push-1 login-style am-hide-sm-only">
			<a href="/Index/Index/Register" class="login-reg">注册</a>
			<a href="/Index/Index/Login" class="login-log">登录</a>
		</div>
{/if}
	</div>
	<!--主导航栏结束-->