{include file="public/head"}
<style>
	.my-container{
		border:1px solid #000;
		height:500px;
		padding:20px;
	}
</style>
{include file="public/header"}
{include file="public/sidebar"}
<div class="am-u-sm-11" style="background:#fff;">
	<br />
	<div class="am-margin">
		<div class="am-margin"><h1 class="am-text-primary am-text-center">我的花园</h1></div>
		<div classs="am-margin">
			<ol class="am-breadcrumb">
				<li><a class="am-icon-home" href="/">&nbsp;首页</a></li>
				<li class="am-active">我的花园</li>
			</ol>
		</div>
		<hr />
	</div>
	<div class="am-u-sm-8 am-u-sm-centered">
		<div class="am-g">
			<h4>设备列表</h4>
			<hr />
			<div class="am-u-sm-3">
				<div class="am-thumbnail">
					<img src="/static/image/avatar/avatar-1.png" balt="设备1"/>
					<div class="am-thumnail-caption">
						<h3>设备1</h3>
						<p>这个设备已连接到网络，你可以访问它。</p>
						<hr />
						<p style="text-align:center;">
							<button class="am-btn am-btn-primary">连接</button>
							<button class="am-btn am-btn-success">详细</button>
							<button class="am-btn am-btn-danger">删除</button>
						</p>
					</div>
				</div>
			</div>
			<div class="am-u-sm-3">
				<div class="am-thumbnail">
					<img src="/static/image/avatar/avatar-2.png" balt="设备2"/>
					<div class="am-thumnail-caption">
						<h3>设备2</h3>
						<p>这个设备已连接到网络，你可以访问它。</p>
						<hr />
						<p style="text-align:center;">
							<button class="am-btn am-btn-primary">连接</button>
							<button class="am-btn am-btn-success">详细</button>
							<button class="am-btn am-btn-danger">删除</button>
						</p>
					</div>
				</div>
			</div>
			<div class="am-u-sm-3">
				<div class="am-thumbnail">
					<img src="/static/image/avatar/avatar-3.png" balt="设备3"/>
					<div class="am-thumnail-caption">
						<h3>设备3</h3>
						<p>这个设备已连接到网络，你可以访问它。</p>
						<hr />
						<p style="text-align:center;">
							<button class="am-btn am-btn-primary">连接</button>
							<button class="am-btn am-btn-success">详细</button>
							<button class="am-btn am-btn-danger">删除</button>
						</p>
					</div>
				</div>
			</div>
			<div class="am-u-sm-3">
				<div class="am-thumbnail">
					<img src="/static/image/avatar/avatar-4.png" balt="设备4"/>
					<div class="am-thumnail-caption">
						<h3>设备4</h3>
						<p>这个设备已连接到网络，你可以访问它。</p>
						<hr />
						<p style="text-align:center;">
							<button class="am-btn am-btn-primary">连接</button>
							<button class="am-btn am-btn-success">详细</button>
							<button class="am-btn am-btn-danger">删除</button>
						</p>
					</div>
				</div>
			</div>
			
		</div>
		<div>
			<ul class="am-pagination am-pagination-centered">
				<li class="am-disable"><a href="#">&laquo;</a></li>
				<li class="am-active"><a href="#">1</a></li>
				<li class=""><a href="#">2</a></li>
				<li class=""><a href="#">3</a></li>
				<li class=""><a href="#">4</a></li>
				<li class=""><a href="#">&raquo;</a></li>
			</ul>
		</div>
		<hr />
		<a class="am-btn am-btn-block am-btn-primary">添加设备</a>
	</div>
	<hr />
</div>
{include file="public/footer"}
{include file="public/common"}
{include file="public/foot"}